<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contoh Landing Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="logo">LOGO</a>
            <ul class="nav-links">
                <li><a href="#home">Beranda</a></li>
                <li><a href="#kontak">Visi</a></li>
                <li><a href="#tentang">Misi</a></li>
                <li><a href="#produk">About Us</a></li>
            </ul>
        </div>
    </nav>
<section id="home" class="hero">
    <div class="container">
        <h1 align="justify">Selamat Datang </h1>
        <h1 align="justify">DI WEBSITE KAMI</h1>
        <H1 align="justify">MYSKANEMA</H1>
        <a href="#login" class="btn">Log In</a>
    </div>
</section>
<section id="produk" class="container-empat">
    <div class="card">
        <img src="gambar4.png" class="card-img-top img-fluid"  width="380px" height="300px">
        <div class="content">
        <P>Kompetensi Keahlian Jurusan Teknik Komputer Jaringan adalah salah satu jurusan yang ada di SMKN 5 Batam yang aktif mengikuti berbagai lomba untuk meningkatkan kompetensi siswa. Tahun 2023, siswa TKJ mengikuti even yang diadakan oleh  ITEBA (Institut Teknologi Batam) pada hari sabtu tanggal 26 Agustus 2023.</P>
        </div>
    </div>
    <div class="card besar">
        <img src="gambar5.png" class="card-img-top img-fluid"  width="380px" height="300px">
        <div class="content">
        <P>Gelar sebagai Juara Umum HMTI Fair 2022 Politeknik Negeri Batam kembali diraih untuk kedua kalinya Tim dari SMKN 5 Batam. Pada perlombaan HMTI FAIR tahun 2022 ini SMKN 5 Batam menerjunkan siswa-siswi dari berbagai jurusan terutama jurusan TKJ, MM/DKV, dan Grafika untuk mengikuti berbagai lomba yang diadakan oleh Himpunan Mahasiswa Teknik Informatika Politeknik Negeri Batam.</P>
        </div>
    </div>
    <div class="card">
        <img src="gambar6.png" class="card-img-top img-fluid"  width="380px" height="300px">
        <div class="content">
        <P>PT. PaxOcean salah satu Perusahaan yang menjadi mitra industri SMKN 5 Batam sejak tahun 2013. Berbagai program telah disusun secara bersama untuk memajukan dunia vokasi agar link and match tercapai. Salah satu program kerja sama yang disepakati adalah rekrutmen siswa/alumni untuk bekerja di PT. PaxOcean Batam sesuai bidangnya masing-masing.</P>
        </div>
    </div>
</section>
<section id="tentang" class="about">
    <div class="container">
        <h2>Misi</h2>
        <p>Menyelenggarakan Pembelajaran Berbasis Teknologi Dan Informasi.
            Meningkatkan Kompetensi Guru diBidang Dunia Usaha Dan Industri Melalui Pelatihan Dan Pemagangan.
            Menyelengarakan Pembelajaran Yang Link And Match Dengan Kebutuhan Industri.</p>
    </div>
</section>

<section id="kontak" class="about">
    <div class="container">
        <h2>Visi</h2>
        <p>Terwujudnya Pendidikan Vokasi Yang Bermutu, Menghasilkan Sumber Daya Manusia Yang Berakhlak Mulia, Memiliki Karakter Wirausaha, Kompeten, Dan Bersertifikat Nasional Maupun Internasional.</p>
    </div>
</section>


<footer class="footer">
    <div class="container">
        <p>&copy; 2024 ALL Rights Reserved.</p>
        <ul class="social-links">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
    </div>
</footer>


</body>
</html>